# Ignore Eclipse files
.classpath
.project
.settings

# Ignore checkstyle files
.checkstyle

# Ignore where Maven compiles by default
target

# Ignore Java class files.
*.class

# Ignore Package Files
*.jar

